@using System.Collections.Specialized
@using VirtualGallery.BusinessLogic.Configuration
@using VirtualGallery.Infrastructure.Localization
@using VirtualGallery.Web.Models.About
@model AboutPageModel
@{
    Layout = MVC.Shared.Views._Layout;
}

@section Aside{
    
    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
    {
        <div class="photo-container"><img src='@Model.PhotoUrl'/></div>
    }
    else
    {
        <div class="photo-placeholder"></div>
    }

    @if (ViewBag.AllowEdit)
    {
        @Html.Partial(MVC.About.Views._AddPhotoButton, new PhotoUploadButtonModel())
    }
}

<div class="left-side">
    @Model.About
</div>
<div class="right-side">
</div>