@model VirtualGallery.Web.Models.Home.HomePageModel
@{
    Layout = MVC.Shared.Views._Layout;
}

@section LeftSide{
    <section class="font-auto">
        @if (ViewBag.AllowEdit)
        {

            <div id="introText" contenteditable="true" style="min-height: 200px;">
                @Html.Raw(Model.Description)
            </div>
            <a id="saveIntro" style="float: right;"><i class="fa fa-bottom fa-save fa-1"></i></a>
            <script type="text/javascript">
                $(document).ready(function () {
                    var $introText = $("#introText");
                    $("#saveIntro").click(function() {
                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            cache: false,
                            url: "@Url.Action(MVC.Home.SetIntro())",
                            data: { Text: $introText.html() }
                        });
                    });
                });
            </script>
        }
        else
        {
            @Html.Raw(Model.Description)
        }
    </section>
}

@section RightSide{
    @RenderBody()
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(window.resize, 500);
        });
    </script>
}