@model VirtualGallery.Web.Models.Home.HomePageModel
@{
    Layout = MVC.Shared.Views._Layout;
}
<div class="left-side">
    <section id="essay">
        @Html.Raw(Model.Description)
    </section>
</div>
<div class="right-side">
    @RenderBody()
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".right-side").customScrollbar({ updateOnWindowResize: true });
    });
</script>